/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 17, ../scss/screen.scss */
body {
  color: #333;
  background: url("/img/whitenoise.png") #ede7db;
  font: 20px "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  overflow-x: hidden;
}

/* line 28, ../scss/screen.scss */
li {
  list-style-type: disc;
  margin-left: 2em;
  padding-left: .25em;
}

/* line 34, ../scss/screen.scss */
.content {
  width: 960px;
  margin: 0 auto;
}

/* line 39, ../scss/screen.scss */
.leftright {
  overflow: auto;
}

/* line 43, ../scss/screen.scss */
.leftright .left {
  float: left;
}

/* line 47, ../scss/screen.scss */
.leftright .right {
  float: right;
}

/* line 51, ../scss/screen.scss */
#topbar {
  margin: .5em auto;
  font-size: 14px;
}

/* line 56, ../scss/screen.scss */
#header-container {
  width: 105%;
  position: relative;
  left: -5%;
  overflow: hidden;
  margin: .5em 0;
  padding: 1em 0 2.5em 0;
  background: url("/img/bluenoise.png") #765542;
  -webkit-box-shadow: inset 20px 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 20px 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 20px 0 10px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* line 68, ../scss/screen.scss */
#header {
  width: 740px;
  padding: 0 0 0 5%;
}

/* line 73, ../scss/screen.scss */
#hero h1 {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: bold;
  font-size: 86px;
}
/* line 78, ../scss/screen.scss */
#hero h1 .first {
  color: #ffae3c;
}
/* line 82, ../scss/screen.scss */
#hero h1 .second {
  color: #7ce7a3;
}
/* line 86, ../scss/screen.scss */
#hero h1 .third {
  color: #dc5d6e;
}

/* line 91, ../scss/screen.scss */
.cta {
  color: #385214;
  background: url("/img/greenstripe.png") repeat scroll 0 0 transparent;
  padding: 16px 21px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  font: bold 24px "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-transform: uppercase;
  outline-style: none;
}

/* line 107, ../scss/screen.scss */
.small-cta {
  font-size: 18px;
  padding: 12px 17px;
}

/* line 112, ../scss/screen.scss */
.cta:hover, .cta:active {
  color: #333;
  -webkit-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.6);
}

/* line 117, ../scss/screen.scss */
.cta:active {
  background: -webkit-gradient(linear, 100% 100% 90deg, 0% 0% 90deg, color-stop(0%, #ccfe8b), color-stop(100%, #99c757)) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(100% 100% 90deg, #ccfe8b, #99c757) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(100% 100% 90deg, #ccfe8b, #99c757) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(100% 100% 90deg, #ccfe8b, #99c757) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(100% 100% 90deg, #ccfe8b, #99c757) repeat scroll 0 0 transparent;
  background: linear-gradient(100% 100% 90deg, #ccfe8b, #99c757) repeat scroll 0 0 transparent;
}

/* line 124, ../scss/screen.scss */
#tagline {
  color: #ffe59c;
  padding: .5em 0 3em;
  font: bold italic 20px Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

/* line 130, ../scss/screen.scss */
#header aside {
  display: inline;
  position: relative;
  top: -3px;
  text-shadow: none;
  color: #e6e6ff;
  padding-left: .5em;
}

/* line 139, ../scss/screen.scss */
#main-container {
  line-height: 1.3em;
  padding: 1em 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
/* line 145, ../scss/screen.scss */
#main-container dt {
  font: bold 24px Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
/* line 149, ../scss/screen.scss */
#main-container dd {
  padding-left: 3em;
  margin-bottom: 1em;
  font-size: 16px;
}

/* line 157, ../scss/screen.scss */
#footer-container {
  margin-top: 1em;
  height: 200px;
  background: url("/img/tannoise.png");
  -webkit-box-shadow: inset 0 12px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 12px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 12px 6px -6px rgba(0, 0, 0, 0.4);
}
